<!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Fonts -->
    <link rel="dns-prefetch" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,600" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="css/style.css">

    <link rel="icon" href="Favicon.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

    <title>Host</title>

    <nav class="navbar fixed-top navbar-expand-lg navbar-light white scrolling-navbar">
            <div class="container">

                <a class="navbar-brand waves-effect" href="http://127.0.0.1:8000/home" target="_self">
                    <strong>HamBurgQ</strong>
                </a>
                {% if user.is_authenticated %}
                <h>{{user.username}}</h>
                <a href="{% url "Game:log_out"%}">Logout</a>
                {% else %}
                <a class="navbar-brand waves-effect" href="http://127.0.0.1:8000/admin" target="_self">
                    admin
                </a>
                {% endif %}

                </div>

            </div>
        </nav>
</head>
<body>



<main class="login-form">
    <div class="container">
        <hr class="my-5">

        <div class="row justify-content-center">
            <div class="col-md-5">
                <div class="card">
                    <div class="card-header">Create room</div>
                    <div class="card-body">
                        <form action= {% url 'Game:create_room' %} method="post">
                            {% csrf_token %}
                            <div class="form-group row">
                                    <label for="password" class="col-md-4 col-form-label text-md-right">Room's name</label>
                                    <div class="col-md-6">
                                        <input class="form-control" name="roomName" required placeholder="Enter your name">
                                    </div>
                                </div>
                            <div class="form-group row">
                                <label for="email_address" class="col-md-4 col-form-label text-md-right">Quiz type</label>
                                <div class="col-md-6">      
                                        <div class="dropdown">
                                                {% if quiz %}
                                                <select class="btn btn-info dropdown-toggle" name = "quiz_name">
                                                    {% for q in quiz %}
                                                    <option value = "{{ q.quizz_name }}">{{ q.quizz_name }}</option>
                                                    {% endfor %}
                                                </select>
                                                {% else %}
                                                    <h5>No polls are available.</h5>
                                                {% endif %}
                                              </div>
                                    </div>  
                            </div>

                            <div class="form-group row">
                                    <label for="email_address" class="col-md-4 col-form-label text-md-right">Time/Question</label>
                                    <div class="col-md-6">
                                            <div class="dropdown">
                                                    <select class="btn btn-info dropdown-toggle" name = "time">
                                                        <option value="5">5</option>
                                                        <option value="10">10</option>
                                                        <option value="15">15</option>
                                                    </select>
                                                  </div>
                                        </div>
                            </div>
                            <div class="col-md-6 offset-md-4">
                                <input class="btn btn-success" type="submit" value="Create">
                                <a href="{% url 'Game:login' %}" class="btn btn-secondary">
                                    Back
                                </a>
                            </div>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>

</main>







</body>
</html>