{% extends 'base.html' %}

{% block home %}
<a class="navbar-brand js-scroll-trigger" href="{% url 'Game:home' %}">HamBurgQ</a>
{% endblock %}

{% block howtoplay %}
  <a class="nav-link js-scroll-trigger" href="{% url 'Game:home' %}#howtoplay">How to play</a>
{% endblock %}

{% block contact %}
  <a class="nav-link js-scroll-trigger" href="{% url 'Game:home' %}#contact">Contact</a>
{% endblock %}

{% block method_content %}

<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>HamBurgQ</title>
  
  {% load static %}

  <link rel="stylesheet" type="text/css" href="{% static 'Home/css/style.css' %}">
</head>

<body>

  <section class="page-section" id="Play!">
    <main class="login-form" style="margin:30px;">
    
        <div class="container">
          <center><h3 class="section-heading text-uppercase">Login</h3></center>
          </br><center><h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3></center>

            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <form action="" method="">
                                <div class="form-group row">
                                  <div class="col-md-12 text-center">
                                    {% if user.is_authenticated %}
                                      <a href="{% url 'Game:login_host' %}" target="_self" class="btn btn-danger btn-md">Login</a>
                                    {% else %}
                                      <a href="{% url 'social:begin' 'google-oauth2' %}" class="btn btn-danger">Host
                                      </a>
                                    {% endif %}
                                  </div>
                        
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <form action="" method="">
                                <div class="form-group row">
                                  <div class="col-md-12 text-center">
                                    <a href="{% url 'Game:login_guest' %}" target="_self" class="btn btn-info btn-md">Guest</a>
                                  </div>
                                </div>
                            </form>
                        </div>
                    </div>
                
                </div>
            </div>
        </div>
    </main>
  </section>
  <!-- Footer -->
  <footer class="footer">
    <hr class="my-4">
    <div class="container">
      <div class="col-lg-12 text-right">
        <a href="{% url 'Game:home' %}" class="btn btn-secondary">Back</a>
      </div>
    </div>
  </footer>

  <script src="{% static 'Login/js/guestjs'%}"></script>

</body>

</html>
{% endblock method_content %}
