{% extends 'base.html' %}

{% block home %}
<a class="navbar-brand js-scroll-trigger" href="{% url 'Game:home' %}">HamBurgQ</a>
{% endblock %}

{% block user %}
{% endblock %}

{% block scoreboard %}
  <a class="nav-link js-scroll-trigger" href="{% url 'Game:home' %}#scoreboard">ScoreBoard</a>
{% endblock %}

{% block contact %}
  <a class="nav-link js-scroll-trigger" href="{% url 'Game:home' %}#contact">Contact</a>
{% endblock %}


{% block method_content %}

<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>HamBurgQ</title>
  
  {% load static %}

  <link rel="stylesheet" type="text/css" href="{% static 'Login/css/style_login.css' %}">
</head>

<body>

  <section class="page-section" id="Play!">
    <main class="login-form" style="margin:20px;">
    
        <div class="container">

         {% if user.is_authenticated %}
            <center><h3 class="section-heading text-uppercase">Let's Start!</h3></center>
            </br><center><h3 class="section-subheading text-muted">Create a learning game or Switch to play!</h3></center>
          {% else %}
            <center><h3 class="section-heading text-uppercase">Login</h3></center>
            </br><center><h3 class="section-subheading text-muted">Create a learning game or Join us to play! </h3></center>
          {% endif %}

            <div class="row justify-content-center">
                <div class="col-lg-3 col-md-6 mb-4">
                    <div class="card">
                      <img src="{% static 'Login/img/card-h.jpg'%}" class="card-img-top" >
                        <div class="card-body">
                            <form action="" method="">
                                <div class="form-group row">
                                  <div class="col-md-12 text-center">
                                    {% if user.is_authenticated %}
                                      <a href="{% url 'Game:login_host' %}" target="_self" class="btn btn-danger btn-md">create room</a>
                                    {% else %}
                                      <a href="{% url 'social:begin' 'google-oauth2' %}" class="btn btn-danger">Host
                                      </a>
                                    {% endif %}
                                  </div>
                        
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-4">
                    <div class="card">
                     <img src="{% static 'Login/img/card-p.jpg'%}" class="card-img-top" >
                        <div class="card-body">
                            <form action="" method="">
                                <div class="form-group row">
                                  <div class="col-md-12 text-center">
                                  {% if user.is_authenticated %}
                                    <a href="{% url 'Game:login_guest' %}" target="_self" class="btn btn-info btn-md">Swich to guest</a>
                                  {% else %}
                                    <a href="{% url 'Game:login_guest' %}" target="_self" class="btn btn-info btn-md">Guest</a>
                                  {% endif %}
                                  </div>
                                </div>
                            </form>
                        </div>
                    </div>
                
                </div>
            </div>
        </div>
    </main>
  </section>

  <script src="{% static 'Login/js/guestjs.js'%}"></script>

</body>

</html>
{% endblock method_content %}
