{% extends 'base.html' %}

{% block home %}
    <a class="navbar-brand js-scroll-trigger" href="{% url 'Game:home' %}">HamBurgQ</a>
{% endblock %}

{% block howtoplay %}
{% endblock %}

{% block play %}
{% endblock %}

{% block contact %}
{% endblock %}

{% block method_content %}

<!doctype html>
<html lang="en">

<head>

    <title>Guest</title>

    
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'Login/css/style_host_guest.css' %}">

</head>
<body onload = getPath()>

<main class="login-form">
    <div class="container">
        <hr class="my-5">

        <div class="row justify-content-center">
            <div class="col-md-5">
                <div class="card">
                    <div class="card-header">Login room</div>
                    <div class="card-body">
                        <form action="game/" method="post" id = "from_guest" >
                            {% csrf_token %}
                            <div class="form-group row">
                                <label class="col-md-3 col-form-label text-md-right">Room</label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control" name="room_id" required autofocus placeholder="Enter your access code"
                                    id="roomName" onkeyup="updateAction()">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label  class="col-md-3 col-form-label text-md-right">Name</label>
                                <div class="col-md-8">
                                    <input class="form-control" required placeholder="Enter your name" name = "player_name">
                                </div>
                            </div>
                            <hr>
                            <div class="offset-md-4">
                                <input class="btn btn-login" type="submit" value="Login">
                                <a href="{% url 'Game:login' %}" class="btn btn-back">
                                    Back
                                </a>
                            </div>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>

</main>
<script>

var path;
function getPath(){
    path = "{%url 'Game:WR_guest' 0 %} ".substring(0,"{%url 'Game:WR_guest' 0 %} ".length -3)
}
function updateAction()
{
    var redirect = path + document.getElementById("roomName").value +"/";
    document.getElementById("from_guest").action = redirect;
}
</script>

</body>

</html>
{% endblock %}