{% extends 'base.html' %}

{% block user %}
{% endblock %}

{% block method_content %}

<!DOCTYPE html>
<html lang="en">

<head>

  <title>HamBurgQ</title>
  
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'Home/css/style.css' %}">

</head>

<body id="page-top">

  <!-- Header -->
  <header class="masthead">
    <div class="container">
      <div class="intro-text">
      {% if user.is_authenticated %}
        <div class="intro-lead-in">Welcome {{user.username.upper}} To HamBurgQ</div>
      {% else %}
        <div class="intro-lead-in">Welcome To HamBurgQ</div>
      {% endif %}
        <div class="intro-heading text-uppercase">a quiz a day !!<br>keep teachers away</div>
          <a name = "login_button" class="btn btn-custom btn-xl text-uppercase js-scroll-trigger" href="{% url 'Game:login' %}"  >Let's play
          </a>
        
      </div>
    </div>
  </header>

  <!-- Scoreboard -->
  <section class="page-section" id="scoreboard">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">Scoreboard <img src="{% static 'Base/img/logo.png'%}" width="28" height="28" > </h2>
            <div class="card text-left">
              {% for p in player %}
              <h7 class="text-score">{{forloop.counter}}. {{p.player_name.title}} : {{p.streak}} streak</h7>
              <hr>
              {% endfor %}
            </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Contact -->
  <section class="contact-section" id="contact">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-right">
          <h2 class="section-heading text-uppercase">Contact Us</h2>
            <div class="row">
              <div class="col-md-9.5">
                <div class="text-contact text-left">
                wodwine 
                <br><br><br>mimew 
                <br><br><br>popia 
                </div>
              </div>
              <div class="col-md-2">
                <div class="text-left" style="padding: 25px 0px 0px 0px;">
                <a href="https://github.com/wodwine"><img src="{% static 'Home/img/gh-icon.png'%}" width="55" height="55"></a>
                <a href="https://www.facebook.com/wodwineptk"><img src="{% static 'Home/img/fb-icon.png'%}" width="41" height="41"></a>
                <br><br><a href="https://github.com/kidstylex"><img src="{% static 'Home/img/gh-icon.png'%}" width="55" height="55"></a>
                <a href="https://www.facebook.com/fymws"><img src="{% static 'Home/img/fb-icon.png'%}" width="41" height="41"></a>
                <br><br><a href="https://github.com/326th"><img src="{% static 'Home/img/gh-icon.png'%}" width="55" height="55"></a>
                <a href="https://www.facebook.com/profile.php?id=100006936062731"><img src="{% static 'Home/img/fb-icon.png'%}" width="41" height="41"></a>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Footer -->
  <footer class="footer">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-4">
        </div>
      </div>
    </div>
  </footer>
</body>

</html>
{% endblock method_content %}