{% extends 'base.html' %}

{% block user %}
{% endblock %}

{% block method_content %}

<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>HamBurgQ</title>
  
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'Home/css/style.css' %}">

</head>

<body id="page-top">

  <!-- Navigation -->

  <!-- Header -->
  <header class="masthead">
    <div class="container">
      <div class="intro-text">
      {% if user.is_authenticated %}
        <div class="intro-lead-in">Welcome {{user.username}} To HamBurgQ!</div>
      {% else %}
        <div class="intro-lead-in">Welcome To HamBurgQ!</div>
      {% endif %}
        <div class="intro-heading text-uppercase">Add something</div>
        <a class="btn btn-custom btn-xl text-uppercase js-scroll-trigger" href="{% url 'Game:login' %}" >Let's play
        </a>
        
      </div>
    </div>
  </header>

  <!-- How to play -->
  <section class="page-section" id="howtoplay">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">How to play <img src="{% static 'Base/img/logo.png'%}" width="28" height="28"> </h2>
          <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
          <img class="fit" src="{% static 'Home/img/test.png'%}">
        </div>
      </div>
    </div>
  </section>

  <!-- Contact -->
  <section class="page-section" id="contact">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">Contact Us</h2>
          <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
        </div>
      </div>
    </div>
  </section>

  <!-- Footer -->
  <footer class="footer">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-4">
        </div>
      </div>
    </div>
  </footer>
</body>

</html>
{% endblock method_content %}