{% extends 'base.html' %}

{% block home %}
    <a class="navbar-brand js-scroll-trigger" href="{% url 'Game:home' %}">HamBurgQ</a>
{% endblock %}

{% block howtoplay %}
{% endblock %}

{% block play %}
{% endblock %}

{% block contact %}
{% endblock %}

{% block method_content %}

<!doctype html>
<html lang="en">
<head>

    <title>Waiting Room</title>

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'Waiting/css/style.css' %}">

</head>
<body>

<main class="login-form">
    <div class="container">
        <hr class="my-5">
        <div class="row justify-content-center">
            <div class="col-md-5">
                <div class="card">
                    <div class="card-header"><h3>{{room.room_name}}: {{room.room_id}}</h3></div>
                    <div class="card-body">
                        <form action="" method="">
                            <div class="form-group row">
                                <label class="col-md-4 col-form-label text-md-right">Question:</label>
                                <div class="col-md-6">
                                    <h3>{{room.quiz_type}}</h3>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label  class="col-md-4 col-form-label text-md-right">Time:</label>
                                <div class="col-md-6">
                                    <h3>{{room.time}}</h3>
                                </div>
                            </div>

                           
                    </div>
                    </form>
                </div>
                <br></br>
                <div class="card">
                        <div class="card-header">Player</div>
                        <div class="card-body">
                            <form action="" method="">
                                <div class="form-group row">
                                    {% for player in all_player%}
                                    <label class="col-md-4 col-form-label text-md-right">Player:</label>
                                    <div class="col-md-6">
                                        <h3>{{player.player_name.title}}</h3>
                                    </div>
                                    {% endfor %}
                                </div>
                                <div class="col-md-6 offset-md-4">
                                    <a href="{% url 'Game:log_out_guest' current_player.id %}" class="btn btn-secondary">
                                        Cancel
                                    </a>
                                </div>
                        </div>
                        </form>
                        
                    </div>
            </div>
        </div>
    </div>
    </div>

</main>

</body>

</html>

{% endblock %}