<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Fonts -->
    <link rel="dns-prefetch" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,600" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="css/style.css">

    <link rel="icon" href="Favicon.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

    <title>Play Room</title>

    <nav class="navbar fixed-top navbar-expand-lg navbar-light white scrolling-navbar">
            <div class="container">

                <a class="navbar-brand waves-effect" href="{% url "Game:home" %}" target="_self">
                    <strong>HamBurgQ</strong>
                </a>
                {% if user.is_authenticated %}
                <h>{{user.username.title}}</h>
                <a href="{% url "Game:log_out"%}">Logout</a>
                {% else %}
                <a class="navbar-brand waves-effect" href="{% url "Game:admin" %}" target="_self">
                    admin
                </a>
                {% endif %}

                </div>

            </div>
        </nav>
</head>
<body>

<main class="login-form">
    <div class="container">
        <hr class="my-5">

        <div class="row justify-content-center">
            <div class="col-md-5">
                <div class="card">
                    <div class="card-header"><h3>{{room.room_name}}: {{room.room_id}}</h3></div>
                    <div class="card-body">
                        <form action="" method="">
                            <div class="form-group row">
                                <label class="col-md-4 col-form-label text-md-right">Question:</label>
                                <div class="col-md-6">
                                    <h3>{{room.quiz_type}}</h3>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label  class="col-md-4 col-form-label text-md-right">Time:</label>
                                <div class="col-md-6">
                                    <h3>{{room.time}}</h3>
                                </div>
                            </div>

                            <div class="col-md-6 offset-md-4">
                                <a class="btn btn-success" style="color:white" href="{% url 'Game:start_quiz' room.room_id %}">
                                    Start
                                </a>
                                <a href="{% url 'Game:login' %}" class="btn btn-secondary">
                                    Cancel
                                </a>
                            </div>
                    </div>
                    </form>
                </div>
                <br></br>
                <div class="card">
                        <div class="card-header">Player</div>
                        <div class="card-body">
                            <form action="" method="">
                                    <div class="form-group row">
                                            {% for player in all_player%}
                                            <label class="col-md-4 col-form-label text-md-right">Player:</label>
                                            <div class="col-md-6">
                                                <h3>{{player.player_name}}</h3>
                                            </div>
                                            {% endfor %}
                                        </div>
                        </div>
                        </form>
                    </div>
            </div>
        </div>
    </div>
    </div>

</main>







</body>
</html>