body {
    overflow: hidden;
    background: url(img/404.jpg);
    background-size: cover;          
    background-repeat: no-repeat;
    font-family: 'Roboto Slab', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  }


  .btn {
    font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    font-weight: 700;
  }
  
  .btn-xl {
    font-size: 18px;
    padding: 20px 40px;
  }
  
  .btn-custom {
    background-color: #d3464c;
    border-color: #fed136;
    color: white;
    margin: 0 0 0 250px;
  }
  
  .btn-custom:active, .btn-custom:focus, .btn-custom:hover {
    background-color: #f5ce4d !important;
    border-color: #fec810 !important;
    color:  #d3464c;
  }
  
  .btn-custom:active, .btn-custom:focus {
    box-shadow: 0 0 0 0.2rem rgba(254, 209, 55, 0.5) !important;
  }