{% extends 'base.html' %}

{% block home %}
    <a class="navbar-brand js-scroll-trigger" href="{% url 'Game:home' %}">HamBurgQ</a>
{% endblock %}

{% block howtoplay %}
{% endblock %}

{% block play %}
{% endblock %}

{% block contact %}
{% endblock %}

{% block method_content %}

<!doctype html>
<html lang="en">
<head>

    <title>Play Room</title>
    
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'Game/css/style.css' %}"> 

</head>
<body>

<main class="login-form">
    <div class="container">
        <hr class="my-5">
        <h3>Room : {{ room.room_id }}</h3>
        <div class="row justify-content-left">
            <div class="col-md-5">
                <div class="card">
                        <div class="card-header">Quiz: {{ quiz.quizz_name }} {{dict_question.index}}/{{number}} | Time: <span id="time">{{room.time}}</span> seconds!</div>
                    <div class="card-body bd-question">
                        <form action="{% url "Game:submit_answer" %}" method="post" name = "answer">
                            {% csrf_token %}
                            <label class="col-md-12"><h6> {{dict_question.question.question_text}}</h6></label>
                            {% for choice in choices %}
                                <label class="col-md-11"><input type="radio" class="form-check-input" id="radio{{forloop.counter0}}" name="radio_answer" value="{{current_player.id}}$${{choice.id}}$${{room.room_id}}" required>{{choice}}</p></label>
                            {% endfor %}
                            <div class="row justify-content-center">
                            <div class="col-md-0">
                                    <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                    </div>
                    </div>
                    </form>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <form action="" method="">
                            <div class="col-md-6 offset-md-8">
                            </div>
                    </div>
                    </form>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                        <div class="card-header">Player info</div>
                    <div class="card-body bd-score">
                        <form action="" method="">
                            <div class="col-md-12">
                                    <h6 class="text-head">Player: <span class="normal-text">{{current_player.player_name.title }}</span></h6>
                                    <h6 class="text-head">Score: <span class="normal-text">{{current_player.score }}</span></h6>
                                    <h6 class="text-head">Streak: <span class="normal-text">{{current_player.streak }}</span></h6>
                                    <h6 class="text-head">Time/Question: <span class="normal-text">{{room.time }}</span></h6>
                            </div>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>

</main>

{% comment %} <script>
var roomTime = {{ room.time }};
var currentPlayerId = {{current_player.id}};
var roomId = {{room.room_id}};
function startTimer(duration, display) {
    var timer = duration, seconds;
    setInterval(function () {
        seconds = parseInt(timer % 60, 10);

        display.textContent = seconds;

        if (--timer < 0) {
            timer = duration;
        }
    }, 1000);
}

window.onload = function () {
    var second_room = {{room.time}}-1,
        display = document.querySelector('#time');
    startTimer(second_room, display);
};
</script> {% endcomment %}
<script src="{% static 'Game/js/quiz.js' %}"></script>
</body>
</html>
{% endblock %}
