<!DOCTYPE html>
<html>
<head>

    <title>Play!</title>
    <link rel = "stylesheet" href = "css/style.css" type = test/css>
</head>
<body>
    <div class = "container">
        <header>
            <div class="poll-left">HamburgQ</div>
            <div class="poll-right">Score :</div>
        </header>
        <main>
            <form class="questionFrom" id="q1" data-question = "1">
                <h3>Question - text</h3>
                <input type = "text" name = "q1" ><br>
                <button id="submit">OK</button>
            </form>

            
        </main>
    </div>
    <script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="js/quiz.js"></script>
</body>
</html>